.wrapper{
    display: flex;
    background: var(--blue-color);
    color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    .logo{
      display: flex;
    align-items: center;
    margin-left: 40px;
    cursor: pointer;
    font-weight: 700;
    }
}



@media(max-width:767.98px){
    .wrapper{
      height: 50px;
    }
}