.wrapper{
  
   
    .label{
        font-weight: bold;
        margin: 10px 0px;
    }
    .text{
        padding: 0px 4px;
        height: 40px;
        background: #80808047;
        border: 1px solid #00000012;
        line-height: 40px;
       
        border-radius: 4px;
       
        box-sizing: border-box;
    }
}
