
.wrapper{
    
    .bg{
      height: 200px;
    
      
    }
    .discription{
        margin: 10px;
    }
    .info{
        display: flex;
        justify-content: space-around;
        margin: 10px;
       
    }
 }